@model IEnumerable<Parents_Bank_Application.Models.Transaction>

@{
    ViewBag.Title = "Index";
}
<h2></h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div style="padding-top:10px"></div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bank_Account.Owner)
        </th>
        <th>
            Transaction Date
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bank_Account.Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
